doctype
html
    head
        title Welcome to the login page
        link(rel='stylesheet', href='/static/style.css')
    body
        div.container
            h1 Welcome to the ligin page
            img(src='/static/img/white-heavy-check-mark.png')
            p Successful login. Great!!!