doctype
html
    head
        title= 'Google Login'
        link(rel='stylesheet', href='/static/style.css')
    body
        div.container
            img(src='/static/img/1.jpg')
            p You are here! Great!!!