body {
	background:#ccd9ff;
}

h1 {
	font-size: 20px;
	text-align: center;
	margin: 20px; 
	color:#0040ff;
}

a {
	margin: 20px;
	padding: 20px;
	color:#0040ff;
}

img {
	margin: 20px;
	width: 200px;
	height: 200px;
}

p {
	font-size: 20px;
	text-align: center;
	margin: 20px; 
	color: #0040ff;
}

.container {
	width: 250px;
	height: 100px;
	text-align: center;
	margin: 20px;
	padding: 20px; 
}

.login-button {
	margin: 5px;
	padding: 6px;
	text-align: center;
	font-size: 20px;
	display: inline;
	background-color: #0040ff;
	color: #FAEBD7;
	text-decoration: none; 
}

.login-button:hover {
	color: red; 
}